@charset "utf-8";
body {
  /*background-image: url(../imagenes/fondo1.jpg);/*fondo, fondo1, fondo2, fondo4*/
  margin: 0px;
  background-attachment: fixed;
  line-height: 1.5;
}
.banner {
  margin: auto;
  background-color:#3C1D17;
  overflow:hidden; 
  height:325px;
  width:100%;
  
}
#imagenbanner
{
  margin: auto;
  width:100%;
  height:325px;
  background-color:#3C1D17;
  background-image: url(../imagenes/fondo11.jpg);
  padding-bottom:10px;
}
#imagenbanner2
{
  margin: auto;
  width: 560px;
  overflow: hidden;
  padding-top: 55px;
  
}

.menu {
  height: auto;
  margin: auto;
  overflow:hidden;
  background-color: #f9d6ba52;
  /*background-image: url(../imagenes/botonera.png);*/
}
.botones {
  margin:auto;
  margin-left: auto;
  margin-right: auto;
  width:900px;
  overflow:hidden;
  /*background-image: url(../imagenes/botonera.png);*/
}
.contenedor {
  background-color: #f9d6ba52;
  margin: auto;
  width: 900px;
  overflow: hidden;
}

.izq {  
  float: left;
  overflow:hidden;
  width: 390px;
  margin: 30px;
  /*background-color: #d8d8d8;*/  
}
.der {
  float: right;
  overflow: hidden;
  width: 390px;
  margin: 30px;
  /*background-color: #d8d8d8;*/

}
.mapa {
  padding-top: 15px;
  overflow: hidden;
  width: 95%;
  margin: auto;
  /*background-color: #d8d8d8;*/

}
.htext {
  padding-top: 15px;
  overflow: hidden;
  width: 95%;
  margin: auto;
  /*background-color: #d8d8d8;*/

}
.htextder {
  padding-top: 15px;
  overflow: hidden;
  width: 95%;
  margin: auto;
  text-align: right;

}
.htextderp {
  overflow: hidden;
  height: 95%;
  margin: 30px;
  text-align: right;
}
.photo {
  padding-top: 15px;
  overflow: hidden;
  width: 80%;
  margin: auto;
  /*background-color: #d8d8d8;*/

}
#contactofi {
  /*position: absolute;*/
  overflow: hidden;
  width:360px;
  height:auto;
  margin:auto;
  /*margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: 30px;*/
}
#contactofi2 {
  /*overflow: hidden;
  width:auto;
  height:auto;*/
  margin:auto;
  text-align: center;
}
#contactito {
  /*position: relative;
  overflow: hidden;*/
  width:90px;
  height:90px;
  margin: auto;
  float: left;
}

.h1s {
  font-family: Alata, serif;
  font-size: 25px;
  color: #3c3c3c;
  text-align: left;
  margin-bottom: 5px;
  padding-left:10px;
}
.h1sr {
  font-family: Alata, serif;
  font-size: 25px;
  color: #3c3c3c;
  text-align: right;
  margin-bottom: 5px;
  padding-right:10px;
  padding-top: 10px;
}
.h2s {
  font-family: Alata, serif;
  font-size: 24px;
  color:#3c3c3c;
  text-align: left;
  margin-bottom: 5px;
  padding-left:10px;
}
.h2sr {
  font-family: Alata, serif;
  font-size: 24px;
  color:#3c3c3c;
  text-align: right;
  margin-bottom: 5px;
  padding-right:10px;
}
.chr {
  width:100%; 
  background-color:#3c3c3c; 
  height:5px; 
}
.chr2 {
  width:50%; 
  background-color:#3c3c3c; 
  height:5px; 
}


.textos { 
  font-family: "Noto Sans", serif;
  font-size: 16px;
  padding-left:10px;
  padding-right:10px;
  
}
#texto1{ 
  font-family: "Noto Sans", serif;
  font-size: 17px;
  padding-left:10px;
  padding-right:10px;
  
}

.lista {
  list-style-type: disc;
  font-family: "Noto Sans", serif;
  font-size: 17px;
  text-align: right;
  float: right;/*puntos alineados a la derecha*/
  direction: rtl;/*puntos a la derecha del texto*/

}


#pie {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  height: 40px;
  width: 900px;
  margin: auto;
  background-color: #fdf2e9;
  clear: both;
  vertical-align: top;
  text-decoration: blink;
  float: none;
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

a:link {
    color: #9e0101;
    background-color: transparent;
    text-decoration: none;
  font-family: "Noto Sans", serif;
  font-size: 16px;
}
a:visited {
    color: #9e0101;
    background-color: transparent;
    text-decoration: none;
  font-family: "Noto Sans", serif;
  font-size: 16px;
}
a:hover {
    color: #42170f;
    background-color: transparent;
    text-decoration: underline;
  font-family: "Noto Sans", serif;
  font-size: 16px;
}
a:active {
    color: #1abc9c;
    background-color: transparent;
    text-decoration: underline;
  font-family: "Noto Sans", serif;
  font-size: 16px;
}

#vlightbox1 {

  padding-left: 15px;
}
























/*body {
  background: #f2f2f2;
}*/
h1 {
  position: relative;
  text-align: left;
  color: #353535;
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}
h1:before {
  position: absolute;
  content: "";
  bottom: -15px;
  width: 70px;
  height: 2px;
  background: #3c3c3c;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  /*text-align: center;*/
  color: #676767;
}
.buttons-coll {
  width: 90%;
  margin: auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/**** BTN No. 6 ****/
.btn-6 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background: #000;
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 0.1s ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 0.1s 0.2s ease;
}
.btn-6:hover:before {
  transition: all 0.1s 0.2s ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 0.1s ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  background: #000;
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 0.1s 0.1s ease;
}
.btn-6 span:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
}
.btn-6 span:hover:before {
  width: 100%;
}

