.text { 
    margin: 1.3rem;
    align-self: center;
  }
  
  .products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    padding: 0.3rem;
  
  }
  .image{
    max-height: none;
    width: 100%;
  }
  .list {
    font-size: 1.2rem;
    color: #676767;
    margin: 0.5rem 0;
    list-style-type: none;
    text-align: center;
  }

  @media (width > 770px) {
    .list {
        font-size: 1.2rem;
        text-align: start;
      }
      .products{
        flex-direction: column;
        flex-wrap: nowrap;
      }
    .image{
      max-height: 17rem;
      }

      .container{
        padding-top: 1rem;
        flex-direction: row;
        justify-content: space-around;
      }

  }